.wrapper {
    width: 300px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid rgb(220, 220, 220); */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display-wrapper {
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 125px;
    flex-grow: 0;
    font-family: sans-serif;
    font-size: 48pt;
    text-align: right;
    display: flex;
    align-items: flex-end;

    border-bottom: 1px solid rgb(170, 170, 170);

}

.display {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    flex: 1;
    font-weight: 100;
}

.button-container {
    background-color: rgb(170, 170, 170);
    width: 300px;
    height: 375px;
    flex-grow: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}

.digit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4;
    gap: 1px;

    grid-column-start: -5;
    grid-column-end: -2;
    grid-row-start: 6;
    grid-row-end: 2
}

.operator-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1px;

    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 6
}

.misc-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    gap: 1px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2
}

.digit-button, .operator-button, .clear-button, .result-button, .sign-button, .percent-button {
    font-family: sans-serif;
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digit-button {
    background-color: rgb(238, 238, 238);
    color: rgb(160, 160, 160);
}

.operator-button {
    background-color: rgb(233, 193, 53);
    color: rgb(255, 255, 255);
}

.clear-button, .sign-button, .percent-button {
    background-color: rgb(80, 141, 157);
    color: rgb(255, 255, 255);
}

.result-button {
    background-color: rgb(207, 92, 65);
    color: rgb(255, 255, 255);
}

.sign-button {
    font-family: monospace;
}


